# -----------------------------
# IDE settings
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Operating System files
# -----------------------------
Thumbs.db
.DS_Store

# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.bak
*.log

# -----------------------------
# Build/Archive files
# -----------------------------
*.zip
*.rar
*.7z

# -----------------------------
# Tcl/Tk compiled files
# -----------------------------
*.tbc

# -----------------------------
# Ignore FreeWrap build tool
# -----------------------------
freewrap.exe
docs/

# -----------------------------
# Optional backup files
# -----------------------------
*.old
*.orig